body {
	background: black;
	color: white;
}

/* navbar */
.navbar .container {
	padding: 0;
}

.navbar {
	opacity: 0.8;
	background-color: black!important;
}


svg {
	margin-bottom: 2px;
    margin-right: 2px;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
	border-bottom: 1px solid white;
}

.collapse li {
    color: white;
    font-size: 1.2rem;
    line-height: 20px;
    margin: 10px ;
}

.navbar-brand {
	font-size: 1.7em;
	font-weight: 600;
}

/* home */
.top-img {
	background-image: url(images/first-cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 80px;
     background-attachment: fixed;

}

.intro {
	color: white;
	text-align: right;
	margin-top: 50px;
	font-family: 'Poppins', sans-serif;
	padding-right: 50px;
}

.intro span {
	font-size: 1.4em;
	background: rgb(23, 162, 184);
	border-radius: 60px 60px 0px 60px;
	padding: 5px 20px; 
}

.intro h1 {
	margin-top: 20px;
	font-weight: 500;

}

.lead  {
	margin-top: 10px;
	font-weight: 400;
	font-size: 1.8em;
}

.resume {
	font-size: 1.2em;
	color: rgb(23, 162, 184);
	text-decoration: underline;
}

/* about */

section {
	padding-top: 100px;
}

 .heading-hr {
	height: 1px;
	background-color: white;
	width: 10%;
}

#about .row {
	margin-top: 40px;
}

.heading {
	text-align: center;
}

.col-md-6 img, .col-xs-12 img {
      width: 100%;
}

#about p {
	text-align: center;
	font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
	margin: 0;
}

#about a:hover {
	color: rgb(23, 162, 184);
}

.info {
	text-align: center;
	width: 60%;
	margin: auto;
}

.info ul {
	padding: 0;
}

.info img {
	height: 60px;
	width: auto;
	margin-bottom: 5px;
}

.info li {
	list-style: none;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	display: inline-block;
	margin: 10px;
}

.about-heading {
	margin-bottom: 30px;

}

.info h5 {
	color: rgb(23, 162, 184);
}

@media (max-width: 991px) {
	.info {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.about-heading {
		margin-top: 50px;
	}
}


/* projects */

#project {
	padding-top: 150px;
	width: 60% !important;
	margin: auto;
}

@media (max-width: 1200px) {
	#project {
		width: 70% !important;
	}
}

@media (max-width: 991px) {
	#project {
		width: 90% !important;
	}
}

@media (max-width: 782px) {
	#project {
		width: 100% !important;
	}
}

.projects {
	margin-top: 80px;
	position: relative;
}

.nav-link{
	cursor: pointer;
}

.tab-content {
	color: #495057;
    background-color: #fff;
	border-radius: 0 0 5px 5px;
	padding: 50px 20px;
}

.tab-pane_img {
	height: auto;
	width: 100%;
}

@media (max-width:768px) {
	.tab-content{
		padding-bottom: 20px;
	}
	.tab-pane_img {
		margin-top: 50px;
		height: 150px;
		width: auto;
	}
}
@media (max-width:600px) {
	.tab-content{
		padding-bottom: 20px;
	}
	.tab-pane_img {
		margin-top: 80px;
		height: 150px;
		width: auto;
	}

	.tab-pane_img2 {
		margin-top: 120px;
		height: 130px;
		width: auto;
	}
}

.plbox {
	height: 300px;
}
.prbox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ptitle {
	font-family: 'Poppins', sans-serif;
	font-size: 45px;
	font-weight: 700;
	letter-spacing: 0.8px;
	margin: 0;
	color: rgb(28, 27, 27);
	margin-bottom: 20px;
}

.greenway {
	text-shadow: 1px 1px green;
	color: green;
}

.digiq {
	text-shadow: 1px 1px red;
	color: #ac2025;
}

.jobfinder {
	color: #334680;
	text-shadow: 1px 1px #334680;
}

.freelancer {
	color: #2f697e;
	text-shadow: 1px 1px #2f697e;
}

.getmeds {
	color: #1ca8a8;
	text-shadow: 1px 1px #1ca8a8;
}

.pinfo {
	display: inline-block;
	font-weight: 600;
	margin-top: 10px;
}

.pimg {
	display: inline-block;
	height: 35px !important;
	margin: 3px;
	width: auto;
}

.pbut {
	margin-top: 20px;
	font-size: 17px;
	color: white !important;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 50px;
	cursor: pointer;
	text-decoration: none;
}

.pbut:hover {
	background-color: rgb(20, 126, 143);
	text-decoration: none;
}

.greenwaybut {
	background-color: green;
}

.greenwaybut:hover {
	background-color: rgb(6, 85, 6);
}

.digiqbut {
	background-color: #ac2025;
}

.digiqbut:hover {
	background-color: rgb(198, 19, 19);
}

.jobfinderbut {
	background-color: #334680;
}

.jobfinderbut:hover {
	background-color: #263665;
}

.freelancerbut {
	background-color: #2f697e;
}

.freelancerbut:hover {
	background-color: rgb(25, 35, 66);
}

.getmedsbut {
	background-color: #1ca8a8;
}

.getmedsbut:hover {
	background-color: #157f7f;
}

/* contact */

#contactsec {
	margin-top: 100px;
	border-top: 1px solid white;
	padding: 20px;
}

#contactsec p {
	margin: 0;
	margin-bottom: 15px;
}

.contact-content {
	text-align: center;
	margin-top: 30px;
	font-size: 17px;
}

.contact-img12 {
	height: 25px;
	width: auto;
	margin-right: 5px;
}

.contact-img34 {
	height: 30px;
	width: auto;
	margin-right: 5px;
}

.contact-end {
	margin-top: 30px !important;
	margin-bottom: 0 !important;
	text-align: center;
}


#contactsec a
{
	color: white;
}

#contactsec hr {
	background:  white;
}

#contactsec a:hover {
     color: rgb(23, 162, 184);
}

.foot-hr {
	width: 20%;
}